<roundcube:object name="doctype" value="html5" />
<html>
<head>
    <title><roundcube:object name="pagetitle" /></title>
    <roundcube:include file="/includes/links.html" />
</head>
<roundcube:if condition="env:extwin" /><body class="noscroll extwin"><roundcube:else /><body class="noscroll"><roundcube:endif />

<roundcube:include file="/includes/header.html" />

<div id="mainscreen" class="offset">
    <roundcube:include file="/includes/settingstabs.html" />

    <div id="settings-right" role="main">
        <div id="accountlist" class="uibox listbox" role="navigation">
            <div class="scroller">
                <roundcube:object name="accountlist" id="account-table" class="listing" role="listbox" />
            </div>
        </div>
        <div id="preferences-box" class="uibox contentbox">
            <roundcube:object name="accountframe" id="account-frame" width="100%" height="96%" frameborder="0" src="/watermark.html" />
            <roundcube:object name="message" id="message" class="statusbar" />
        </div>
    </div>
</div>
<roundcube:include file="/includes/footer.html" />
</body>
</html>