<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><roundcube:object name="pagetitle" /></title>
    <roundcube:include file="/includes/links.html" />
    <link rel="stylesheet" type="text/css" href="/settings.css" />
    <script type="text/javascript" src="/functions.js"></script>
</head>
<body class="iframe">

<div id="prefs-title" class="boxtitle">
    <roundcube:object name="sectionname_pass" />
</div>

<div id="prefs-details" class="boxcontent">
    <roundcube:object name="pass_form" id="pass_form" />
</div>

<div id="formfooter">
    <div class="footerleft">
        <roundcube:button command="plugin.ispconfig3_pass.save" type="input" class="button mainaction" label="save" />
    </div>
</div>

</body>
</html>