<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        <roundcube:object name="pagetitle" />
    </title>
    <roundcube:include file="/includes/links.html" />
    <link rel="stylesheet" type="text/css" href="/settings.css" />
    <link rel="stylesheet" type="text/css" href="/this/general.css" />
    <script type="text/javascript" src="/functions.js"></script>
</head>
<body class="iframe">

<div id="prefs-title" class="boxtitle">
    <roundcube:object name="sectionname_acc" />
</div>

<div id="prefs-details" class="boxcontent">
    <roundcube:object name="info" />
</div>

</body>
</html>